{% extends 'base.html.twig' %}

{% block title %}Modification de la page de présentation{% endblock %}

{% block body %}
    
    <h1 class="col-12 text-center my-5 text-light">Modifier la page de présentation</h1>
    
    <div class="row">
        <p class="text-center col-12 ">
            
            <a href="{{ path('main_about') }}"
                    class="text-decoration-none">Retour</a>
        </p>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 mx-auto text-light">
            
            {# Affichage du formulaire de création d'article #}
            {{ form(form) }}
        
        </div>
    </div>

{% endblock %}


