{% extends 'base.html.twig' %}
{% block title %}Contactez-moi !{% endblock %}


{% block body %}
    <div id="contact-section">
        <h1 class="my-3 mt-md-5">Contactez-moi !</h1>
        <h2>Vous souhaitez des renseignements ? Vous avez déjà une idéee en tête ? Vous avez vu THE bijou de vos rêves ? </h2>
        <p class="mt-5">Moi, à votre place, ce que je ferais, c'est que je me passerais un <a href="tel:0102030405" class="font-bold font-italic">coup de fil</a> si je me sens d'humeur bavarde, et sinon j'enverrais <a href="mailto:luciane@twistaroundtherock.be" class="font-bold font-italic">un petit mail</a>
            !</p>
        <p class="my-5">Et si vous voulez juste vous rincer l'oeil un peu plus, c'est sur <a href="https://www.facebook.com/twistaroundtherock/" class="font-bold font-italic">Facebook</a> que ça se passe !</p>
    </div>
    
    
{% endblock %}



