/*General settings*/

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/background.png");
    background-size: cover;
    background-attachment: fixed;
}

/*Header*/
nav{
    position: absolute;
    z-index: 100;
}

.navbar-nav{
    position: absolute;
    background: rgba(240, 240, 240, 0.95);
    border-radius: 10px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.separation-line{
    border: rgba(0, 0, 0, 0.5) 1px solid;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

/*Carrousel accueil*/

.carrousel-img{
    border: #f0f0f0 2px solid;
    border-radius: 15px;
}

.owl-nav{
    display: none;
}

.owl-prev{
    margin-right: 1rem;
}
.owl-next{
    margin-left: 1rem;
}

/*Texte de présentation*/
.presentation-text{
    border: #f0f0f0 2px solid;
    border-radius: 15px;
    color: #f0f0f0;
    text-align: center;
}

/*Articles à la une*/
.top-articles a{
    color: #f0f0f0;
}

.top-articles img{
    max-width: 100%;
    border: #f0f0f0 2px solid;
    border-radius: 15px;
}

/*Footer*/


footer .copyrights{
    font-size: .5rem;
}

footer ul{
    list-style-type: none;

}

footer li{
    margin: 0 1rem 0 1rem;
    font-size: 1.5rem;
}

footer li a{
    color: #f0f0f0;
}

/*Panel Admin*/

.admin-button{
    background: #f0f0f0;
    color: #6c575d;
    border: 2px solid #1f3c5c;
    text-decoration: none;
    padding: .8rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 10px;
}

#carrousel_images_form div{
    padding-bottom: 1.5rem !important;
}

#carrousel_images_form div label, #article_form div label{
    width: 100%;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

#carrousel_images_form div input, #article_form div input{
    width: 100%;
    padding-bottom: 0.5rem;
}

/*Blog*/

.link-style.back{
    text-decoration: none;
    color: white;
}

.link-style.title:hover{
    font-style: italic;
}


@media screen and (min-width: 768px){
    .owl-nav{
        display: block;
        color: #f0f0f0;
        text-align: center;
    }
}
