{% extends 'base.html.twig' %}
{% block title %}Ajouter une image au carrousel d'accueil{% endblock %}

{% block body %}
    
    <h1 class="text-light text-center my-5">Ajouter une image au carrousel d'accueil</h1>
    <div class="d-flex flex-column align-items-center justify-content-center text-light">
        {{ form(form) }}
    </div>

    
{% endblock %}



