{% extends 'base.html.twig' %}

{% block title %}Modifier l'image du carrousel d'accueil{% endblock %}

{% block body %}
    <h1 class="text-light text-center my-5">Modifier une image du carrousel d'accueil</h1>
    <div class="d-flex flex-column align-items-center justify-content-center text-light">
        {{ form(form) }}
    </div>

{% endblock %}



