<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{#    todo : remplir les meta descriptions#}
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta property=”og:title” content="Twist Around the Rock">
    <meta property=”og:type” content=”siteweb” />
    <meta property=”og:url” content=”” />
    <meta property="og:description" content="" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bootstrap.min.css') }}">
    {% block cssIncludes %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('fontawesome.min.css') }}" />
    {{ encore_entry_link_tags('app')}}
    {{ encore_entry_script_tags('app') | replace({'src=': 'defer src='}) | raw }}
</head>
<body>

    <div class="container-fluid">
        {% include 'partials/header.html.twig' %}
        {% include 'partials/flashes.html.twig' %}
        
        {% block body %}{% endblock %}
    
        {% include 'partials/footer.html.twig' %}
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{% block jsIncludes %}{% endblock %}

</body>
</html>